<div class="content">
  <div class="contents-head">
    <div class="table_row clear mt_30 mb_30">
      <div class="cols_3 v_middle">
        <h1 class="txt_size_20">求人への応募</h1>
      </div>
      <div class="cols_9">
        <ul class="step_chart step_chart__cols3">
          <li class="step_chart__cols">
            <span class="step_chart__cols__block">応募、および基本情報の登録</span>
          </li>
          <li class="step_chart__cols">
            <span class="step_chart__cols__block">登録内容の確認</span>
          </li>
          <li class="step_chart__cols active">
            <span class="step_chart__cols__block">登録完了</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mb_60">
      <h1 class="heading1-pt02">応募が完了しました</h1>
      <p class="txt_size_16 t_center">マイページの「応募管理」画面より、面接日や選考結果を随時ご確認下さい。<br>万が一、１週間以上ご連絡がなかった場合は、ご縁がなかったものとして受け止めていただいております。</p>

      <div class="mb_60 txt_size_14">
        <p class="t_center mb_15">リジョブは求人数業界最大級！！あなたにピッタリのお仕事がきっと見つかる！</p>
        <p class="t_center mb_15"><a href="/jobs" class="btn w-400px">他の求人も探す</a></p>
      </div>
      <div class="mb_60 txt_size_14">
        <p class="t_center mb_15">あなたのプロフィールを充実させる事で、企業にスカウト・採用されやすくなります！</p>
        <p class="t_center mb_15"><a href="/users/#{current_user.id}" class="btn w-400px">プロフィールを編集する</a></p>
      </div>


  </div>