<h1>企業管理画面トップ</h1>

<h3>店舗作成</h3>
<%= link_to "店舗作成ページへ", new_shop_path %>
<h3>案件作成</h3>
<%= link_to "案件作成ページへ", new_job_path %>
<h3>店舗一覧</h3>
<%= link_to "店舗一覧へ", shop_index_path %>
<h3>案件一覧</h3>
<%= link_to "案件一覧へ", client_jobs_path %>